
/* header section */
#title {
    font-size: 30px;
    text-align: center;
    color: black;
    margin-top: 40px;
    font-family: 'BioRhyme', serif;
}

/* general */
.text-center{
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
}


/* game content */
.container {
    font-size: 18px;
}
.row {
    padding: 0 20% 0 20%;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
}

#subwrapper {
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 10px;
    font-family: 'BioRhyme', serif;
    background: -webkit-linear-gradient(#eee,#4682B4);
}
/* media queries */

/* 980px max-width media query  */
@media screen and (max-width: 980px){
    .container {
        font-size: 2rem;
    }
    img {
        width: 80%;
        height: auto;
    }
    
}
  /* 768px max-width media query  */
  @media screen and (max-width: 768px) {
    #subwrapper {
        font-size: 20px;
        color: white;
        margin: 0;
        background: -webkit-linear-gradient(#eee,#4682B4);
        padding: 10px;
    }

    .container {
        font-size: 1.3rem;
        padding: 20px 0 768px 0;
    }

    .row {
        padding: 0;
    }
    
    img {
        width: 100%;
        height: auto;
    }

    button {
        padding: 0;
        width: 100%;
        height: auto;
    }

    #adjust-img {
        width: 50%;
        height: auto;
    }
  }